
{% extends "base.html" %} {#Должно быть первым #}
{% load static %}
{% block style %}
    {{ block.super}}
    <link rel="stylesheet" href="{% static 'style.css' %}"
{% endblock style%}

{% block content %}

    {% include "inc_header.html" %}
    <h1> Список товаров </h1>
    
    {% for item in items %}
        <div class="items-list">
            <a href="{% url "item-detail" item.id %}"> {{ item.name }}</a>
        </div>
    {% endfor %}

{% endblock content %}

{% comment %} <!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> Items list </title>
    <style type ="text/css">
        DIV {
        display: inline;
        widht: 100px;
        margin: 7px;
        padding: 10px;
        border: 4px solid black;
        background: #fc0;
        }
    </style>    
</head>
<body>
    <header>
        <a href = "/"> Home </a> / <a href = "/items"> Items </a> / <a href = "/about"> About </a>
    </header> 
    <h2> Список товаров </h2>
    <ol> 
        {% for item in items  %}
            <div> <a href = "item/{{item.id}}"> {{item.name}} </a> </div>
        {% endfor %}
    </ol>
</body>
</html> {% endcomment %}


